*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100vw;
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-image: url("https://i.pinimg.com/1200x/7b/32/d7/7b32d7a1d53274942996f8f7b9dccf96.jpg"); */
    background-image: url('https://i.pinimg.com/736x/61/b6/84/61b68438ffaefd8c97daaffa53358f00.jpg');
    background-position: center;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    user-select: none;
}

#content{
    width: 200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: blacks;
}

#caixa{
    height: 300px;
    width: 220px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background:linear-gradient(to bottom, #571818, #353434, #44226b);
    border: 1px solid white;
    border-radius: 5px;
    gap: 10px;
}

.visor {
    background-color: white;
    border-radius: 5px;
    border: 5px solid #333 ;
    color: black;

    padding: 10px;
    width: 80%;
    height: 56px;

    text-align: center;
    font-size: 22px;
    font-weight: 700;
}

#pad{
    width: 160px;
    height: 210px;

    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;

    align-items: center;
    justify-items: center;

    background:linear-gradient(to top, #7e2727, #838282, #8141ca);
    border-radius: 5px;
}

.teclas{
    background-color: #222;
    border-radius: 5px;

    width: 50px;
    height: 50px;

    text-align: center;
    line-height: 50px;

    font-size: 22px;
    font-weight: 700;
}

.teclas:hover{
    cursor: pointer;
    background-color: #333;
    transition: all 400ms;
}

.sn {
    font-size: 22px;
    font-weight: 700;
}

.dica{
    text-align: center;
    text-shadow: 3px 3px 10px rgb(182, 5, 182);
    

    position: absolute ;

    top: 70px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}